<mat-toolbar>
	<span>BASIC</span>
	<span class="example-spacer"></span>
	<button mat-button>Avaible room</button>
	<button mat-button>Services</button>
	<button mat-button>Vacancies</button>
	<button mat-button>News</button>
	<button mat-button>Agreements</button>
	<span class="example-spacer"></span>
	<button mat-icon-button aria-label="Example icon-button with heart icon">
		<mat-icon>favorite</mat-icon>
	</button>
	<button
		mat-icon-button
		aria-label="Example icon-button with share icon"
		[routerLink]="['/sign-in']"
	>
		<mat-icon>input</mat-icon>
	</button>
</mat-toolbar>
