<div class="login-form__wrapper">
	<div class="login-form__flex-wrapper">
		<h1>Sign Up</h1>

		<form [formGroup]="signUpForm">
			<mat-form-field class="login-form__label">
				<mat-label>Name</mat-label>
				<input
					matInput
					placeholder=""
					value="Name"
					formControlName="name"
				/>
			</mat-form-field>
			<mat-form-field class="login-form__label">
				<mat-label>Surname</mat-label>
				<input
					matInput
					placeholder=""
					value="Surname"
					formControlName="surname"
				/>
			</mat-form-field>
			<mat-radio-group color="primary" formControlName="male">
				<mat-radio-button value="1">Man</mat-radio-button>
				<mat-radio-button value="2">Women</mat-radio-button>
			</mat-radio-group>

			<mat-form-field appearance="fill" class="login-form__calendar">
				<mat-label>Date of Birth</mat-label>
				<input
					matInput
					formControlName="dateOfBirth"
					[matDatepicker]="picker"
				/>
				<mat-datepicker-toggle matSuffix [for]="picker">
				</mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
			</mat-form-field>

			<mat-form-field class="login-form__label">
				<mat-label>e-mail</mat-label>
				<input
					matInput
					placeholder=""
					value=""
					formControlName="email"
				/>
			</mat-form-field>
			<mat-form-field class="login-form__label">
				<mat-label>password</mat-label>
				<input
					matInput
					placeholder=""
					value=""
					formControlName="password"
				/>
			</mat-form-field>
			<mat-slide-toggle color="primary" formControlName="notifications"
				>Get notifications</mat-slide-toggle
			>
		</form>

		<button
			mat-raised-button
			color="primary"
			class="login-form__button"
			(click)="register()"
		>
			Sign Up
		</button>
		<div class="login-form__account">
			<span> Do you already have an account?</span>
			<button
				mat-stroked-button
				color="primary"
				[routerLink]="['/sign-in']"
			>
				Sign in
			</button>
		</div>
	</div>
</div>
