<div class="room-filters__wrapper">
	<span class="room-filters__span"> DATE OF STAY </span>

	<mat-form-field appearance="fill">
		<mat-label>Arrival date</mat-label>
		<mat-date-range-input [rangePicker]="pickerArrival">
			<input matStartDate placeholder="Start date" />
			<input matEndDate placeholder="End date" />
		</mat-date-range-input>
		<mat-datepicker-toggle
			matIconSuffix
			[for]="pickerArrival"
		></mat-datepicker-toggle>
		<mat-date-range-picker #pickerArrival></mat-date-range-picker>
	</mat-form-field>

	<mat-form-field appearance="fill">
		<mat-label>Departure date</mat-label>
		<mat-date-range-input [rangePicker]="pickerDeparture">
			<input matStartDate placeholder="Start date" />
			<input matEndDate placeholder="End date" />
		</mat-date-range-input>
		<mat-datepicker-toggle
			matIconSuffix
			[for]="pickerDeparture"
		></mat-datepicker-toggle>
		<mat-date-range-picker #pickerDeparture></mat-date-range-picker>
	</mat-form-field>

	<span class="room-filters__span"> 1 GUEST </span>
	<mat-divider></mat-divider>
	<div class="room-filters__counter">
		<span> Adult </span>
		<div>
			<button class="room-filters__counter-button">-</button>
			<span> 1 </span>
			<button class="room-filters__counter-button">+</button>
		</div>
	</div>
	<div class="room-filters__counter">
		<span> Children </span>
		<div>
			<button class="room-filters__counter-button">-</button>
			<span> 1 </span>
			<button class="room-filters__counter-button">+</button>
		</div>
	</div>

	<span class="room-filters__span"> PRICE RANGE </span>
	<mat-slider min="0" max="15000" step="100" discrete>
		<input value="0" matSliderStartThumb />
		<input value="15000" matSliderEndThumb />
	</mat-slider>

	<mat-form-field class="room-filters_range-label">
		<mat-label>From</mat-label>
		<input matInput placeholder="" value="0" />
	</mat-form-field>
	<mat-form-field class="room-filters_range-label">
		<mat-label>To</mat-label>
		<input matInput placeholder="" value="15000" />
	</mat-form-field>

	<span class="room-filters__span"> FACILITIES </span>
	<mat-checkbox class="example-margin" [(ngModel)]="wifi">WI-FI</mat-checkbox>
	<mat-checkbox class="example-margin" [(ngModel)]="conditioner"
		>Air conditioner</mat-checkbox
	>
	<mat-checkbox class="example-margin" [(ngModel)]="workplace"
		>Workplace</mat-checkbox
	>

	<span class="room-filters__span"> ACCOMODATION </span>
	<mat-checkbox class="example-margin" [(ngModel)]="smoking"
		>Smoking</mat-checkbox
	>
	<mat-checkbox class="example-margin" [(ngModel)]="pets">Pets</mat-checkbox>
	<mat-checkbox class="example-margin" [(ngModel)]="guests"
		>Guests</mat-checkbox
	>

	<span class="room-filters__span"> AVAILABILITY </span>
	<mat-checkbox class="example-margin" [(ngModel)]="corridor"
		>WIDE CORRIDOR</mat-checkbox
	>
	<mat-checkbox class="example-margin" [(ngModel)]="ramps"
		>RAMPS FOR THE DISABLED</mat-checkbox
	>

	<button mat-raised-button color="primary" class="room-filters__button">
		Search
	</button>
</div>
