<div class="login-form__wrapper">
	<div class="login-form__flex-wrapper">
		<h1>Sign In</h1>

		<mat-form-field class="login-form__label">
			<mat-label>e-mail</mat-label>
			<input matInput placeholder="" value="" [formControl]="email" />
		</mat-form-field>
		<mat-form-field class="login-form__label">
			<mat-label>fullname</mat-label>
			<input matInput placeholder="" value="" [formControl]="fullname" />
		</mat-form-field>
		<mat-form-field class="login-form__label">
			<mat-label>password</mat-label>
			<input matInput placeholder="" value="" [formControl]="password" />
		</mat-form-field>
		<button
			mat-raised-button
			color="primary"
			class="login-form__button"
			(click)="login()"
		>
			Sign In
		</button>
		<div class="login-form__account">
			<span> Don't have an account?</span>
			<button
				mat-stroked-button
				color="primary"
				[routerLink]="['/sign-up']"
			>
				Sign up
			</button>
		</div>
	</div>
</div>
