.room-card-info_wrapper {
	margin: 20px;
	display: flex;
	justify-content: center;
}
.room-card-info_wrapper-gallery {
	max-height: 400px;
}
.room-card-info_image-icons {
	height: 100%;
	position: absolute;
	background: transparent;
	border: none !important;
	font-size: 0;
	cursor: pointer;
}
