<mat-card class="room-card__wrapper">
	<button
		mat-icon-button
		aria-label="Example icon-button with heart icon"
		class="room-card_icon"
	>
		<mat-icon>favorite</mat-icon>
	</button>
	<img mat-card-image src="{{ hotel.image }}" alt="Photo of a room" />
	<div class="room-card__fields" [routerLink]="['/room']">
		<span class="room-card__hotel-name"> {{ hotel.name }} </span>
		<span class="room-card__hotel-rating"> {{ hotel.rating }}/10 </span>
	</div>
	<mat-divider class="room-card__divider"></mat-divider>
	<div class="room-card__fields">
		<span class="room-card__room-price"> {{ hotel.price }}$ </span>
		<span class="room-card__hotel-reviews">3 reviews </span>
	</div>
</mat-card>
