<mat-card class="room-card__wrapper">
	<mat-card-actions>
		<button mat-button>LIKE</button>
		<button mat-button>SHARE</button>
	</mat-card-actions>
	<img
		mat-card-image
		src="https://material.angular.io/assets/img/examples/shiba2.jpg"
		alt="Photo of a Shiba Inu"
	/>
	<mat-card-content>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
			labore molestias voluptatibus nulla, omnis quia nostrum reiciendis
			ad suscipit placeat nemo accusamus neque dolorem natus distinctio
			esse eaque ab expedita?
		</p>
	</mat-card-content>
</mat-card>
